:root {
    --basic-color-bg:#EEEEEE;
    --basic-color-btn:#FB565A;
    --basic-btn-hover:#E74246;
    --basic-btn-active:#D7373B;
    --green-btn:#00CA74;
    --green-btn-hover:#00BC6C;
    --green-btn-active:#00AA62;
    --gray-btn-hover:#DFDFDF;
    --gray-btn-active:#D5D5D5;
    --gold-btn:#EFC84A;
    --gold-btn-hover:#EAB534;
    --gold-btn-active:#E5A722;
    --color-btn:#FFFFFF;
    --basic-color-txt:#283136;
    --second-color-txt:#000000;
    --gray-txt:#666666;
    --darkgray-txt:#444444;
    --panel-gray:#4D4D4D;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}
@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    height: 100%;
}

.page-body {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-color-txt);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    background-color: var(--basic-color-bg);
}

.main-nav {
    background-color: var(--basic-color-bg);
}

.nav-container {
    width: 1160px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;  
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 440px;
}

.nav-list-item {
    margin: 0 45px;
}

.navigation:hover {
    color: var(--basic-color-btn);
}

.navigation:active {
    color: var(--basic-color-txt);
    opacity: 0.3;  
}

.cart {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;
}

.cart:hover {
    color: var(--basic-color-btn);
}

.cart:active {
    color: var(--basic-color-txt);
    opacity: 0.3;
}

.page-catalog {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    column-gap: 140px;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

.page-title {
    margin-top: 0;
    padding: 110px 210px 110px 210px;
    background-color: var(--basic-color-bg);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--second-color-txt);
}

.catalog-fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
}

.template-section {
    margin: 0;
    padding: 0;

    grid-column: 2 / -1;
}

.template-list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
}

.template-filter {
    width: 260px;

    grid-row: 1 / 3;
}

.template-sortby {
    padding: 0;
    margin: 0;

    grid-column: 2 / -1;

    display: flex;
    justify-content: space-between;
}

.sortby-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
}

.sortby-item {
    margin-right: 25px;
}

.sortby-item:nth-child(4) {
    margin-right: 0;
}

.sortby-item:nth-child(5) {
    margin-right: 0;
}

.pagination {
    grid-column-start: 2;
}

.pagination-list {
    padding: 0;
    margin: 0;
    margin-top: 54px;

    display:flex;
    justify-content: flex-start;
}

.pagination-item {
    margin-right: 10px;
}

.main-footer {
    margin-top: 75px;
}

.main-footer-wrapper {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 40px;
}

.map {
    background-image: url(../img/map1.png);

}

.footer-contacts {
    width: 319px;
    background-color: var(--color-btn);
    margin: 54px 0;
}

.footer-social {
    grid-column-start: 1;
    grid-row-start: 2;
}

.footer-social-list {
    display: flex;
}

.footer-social-item {
    background-color: var(--basic-color-bg);
    border-radius: 50%;
    width: 81px;
    height: 81px;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.socal-button {
    vertical-align: middle;
}

.footer-text {
    grid-row-start: 2;
    grid-column-start: 2;
}

.footer-contacts-text {
    margin: 50px 50px 0 50px;
}

ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

.button {
    width: 240px;
    padding: 17px 40px 15px 39px;
    background: var(--basic-color-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    box-sizing: border-box;
} 

.button:hover {
    background: var(--basic-btn-hover);
    border-radius: 3px;
} 

.button:active {
    background: var(--basic-btn-active);
    border-radius: 3px;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
} 

.buttonform {
    width: 260px;
    padding: 17px 89px 15px 88px;
    background: var(--basic-color-bg);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--second-color-txt);
    border: none;
    margin-top: 32px;
}

.buttonform:hover {
    background: var(--gray-btn-hover);
}

.buttonform:active {
    background: var(--gray-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.button-template {
    padding: 17px 72px 15px 72px;
    width: 200px;
}

.page-button {
    display: inline-block;
    padding: 17px 20px 15px;
    background: var(--basic-color-bg);
    color: var(--second-color-txt);  
    width: 50px;
    text-decoration: none;
    text-align: center;
}

.page-button:hover {
    background: var(--gray-btn-hover);
}

.page-button:active {
    background: var(--gray-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.current,
.current:hover,
.current:active {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
    height: 50px;
}

.button-contacts {
    width: 220px;
    margin: 25px 50px 50px 50px;
}

.social-button {
    background-image: url(../img/Shape.svg);
    background-position: center;
    margin: 0 10px;
    padding: 30px;
}

.forward {
    width: 260px;
}

.template-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
}

.template-name:hover {
    color: var(--basic-color-btn);
}

.template-name:active {
    color: var(--second-color-txt);
    opacity: 0.3;
}

.full-template {
    margin-top: 25px;
    position: relative;
}

.panel {
    background-color: var(--panel-gray);
    opacity: 0.12;
    width: 100%;
    color: var(--color-btn);
    font-size: 50px;
    letter-spacing: 2px;
    padding-left: 16px;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
}

.subdiv {
    display: none;
    background-color: var(--basic-color-bg);
    width: 100%;
    text-align: center;
    padding: 26px 53px 44px 52px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.template:hover+.subdiv {
    display: block;
}

li:hover .panel {
    opacity: 1;
}

.textmidbold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
    margin-bottom: 16px;
}  

.filter-item {
    margin-bottom: 18px;
}

.sortby {
    text-decoration: none; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--second-color-txt);
    opacity: 0.3;
}

.sortby:hover {
    opacity: 0.6;
}

.sortby:active {
    opacity: 1;
}

.textmidpopup {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-txt);
}

.textform {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.textform:disabled {
    opacity: 0.3;
}

.textformuppercase {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.textfooterbold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
}

.textfooter {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-txt);
}

.textfooterbig {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--second-color-txt);
}

.textfootersmall {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkgray-txt);
}

.feedback-title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--second-color-txt);
}

.feedback-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color-txt);
}

