:root {
    --basic-color-bg:#EEEEEE;
    --basic-color-btn:#FB565A;
    --basic-btn-hover:#E74246;
    --basic-btn-active:#D7373B;
    --green-btn:#00CA74;
    --green-btn-hover:#00BC6C;
    --green-btn-active:#00AA62;
    --gold-btn:#EFC84A;
    --gold-btn-hover:#EAB534;
    --gold-btn-active:#E5A722;
    --color-btn:#FFFFFF;
    --basic-color-txt:#283136;
    --second-color-txt:#000000;
    --gray-txt:#666666;
    --darkgray-txt:#444444;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  }
@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  }

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    height: 100%;
}

.page-body {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-color-txt);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    background-color: var(--basic-color-bg);
    text-align: center;
}

.main-nav {
    background-color: var(--basic-color-bg);
}

.main-nav-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;  
}

.nav-list {
    margin: 0;
    padding: 0;
}

.navigation:hover {
    color: var(--basic-color-btn);
}

.navigation:active {
    color: var(--basic-color-txt);
    opacity: 0.3;  
}

.cart {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;
}

.cart:hover {
    color: var(--basic-color-btn);
}

.cart:active {
    color: var(--basic-color-txt);
    opacity: 0.3;
}

.sliders {
    margin: 0;
    padding: 0;
    background-color: var(--basic-color-bg);
}

.sliders-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 80px;
}

.slider-text {
    width: 50%;
}

.slider-p {
    width: 400px;
}

.slider1 {
    background-image: url(../img/nerds-index-slide1.png);
    background-position: right;
    background-repeat: no-repeat;
}

.slider2 {
    background-image: url(../img/nerds-index-slide2.png);
    background-position: right;
    background-repeat: no-repeat;
}

.slider3 {
    background-image: url(../img/nerds-index-slide3.png);
    background-position: right;
    background-repeat: no-repeat;
}

.services {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 80px;
}

.services-list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
}

.about-columns {
    display: grid;
    grid-template-columns: 650px 1fr;
    column-gap: 150px;

    border-top: var(--basic-color-bg) solid 2px;
    padding-top: 40px;
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.about-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.partnership {
    border-top: var(--basic-color-bg) solid 2px;
    border-bottom: var(--basic-color-bg) solid 2px;
    padding: 45px;
    width: 1160px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
 
}

.main-footer {
    margin-top: 75px;
}

.main-footer-wrapper {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    background-image: url(../img/map1.png);

}

.footer-contacts {
    width: 319px;
    background-color: var(--color-btn);
    margin: 54px 0;
}

.footer-social {
    background-color: var(--basic-color-bg);
    justify-self: left;
    text-align: center;

    grid-column-start: 1;
    grid-row-start: 2;
}

.footer-text {
    justify-self: center;

    grid-row-start: 2;
    grid-column-start: 2;
}

.footer-contacts-text {
    margin: 50px 50px 0 50px;
}

ul {
    list-style-type: none;  
}

.button {
    width: 240px;
    padding: 17px 40px 15px 39px;
    background: var(--basic-color-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    box-sizing: border-box;
} 


.button-more {
    padding: 17px 54px 15px;
    display: inline-block;
    background: var(--basic-color-btn);
    color: var(--color-btn);  
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background: var(--basic-btn-hover);
} 

.button:active {
    background: var(--basic-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
} 

.button-green {
    width: 240px;
    padding: 17px 40px 15px 39px;
    background: var(--green-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
} 

.button-green:hover {
    background: var(--green-btn-hover);
} 

.button-green:active {
    background: var(--green-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-gold {
    width: 240px;
    padding: 17px 40px 15px 39px;
    background: var(--gold-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
} 

.button-gold:hover {
    background: var(--gold-btn-hover);
} 

.button-gold:active {
    background: var(--gold-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-contacts {
    width: 220px;
    margin: 25px 50px 50px 50px;
}

.partner-logo {
    opacity: 0.2;
}

.partner-logo:hover {
    opacity: 1;
}

.partner-logo:active {
    opacity: 0.1;
}

.slider-title {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--second-color-txt);

} 

.about-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--second-color-txt);
}

.service-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--second-color-txt);
    text-transform: uppercase; 
}

.textbold {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    text-transform: uppercase;
}

.textpercent {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--second-color-txt);

    grid-row-start: 1;
}

.textsubpercent {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;

    grid-row-start: 2;
}

.textfooterbold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
}

.textfooter {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-txt);
}

.textfooterbig {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--second-color-txt);
}

.textfootersmall {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkgray-txt);
}

.feedback-title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--second-color-txt);
}

.feedback-name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color-txt);
}

