:root {
    --basic-color-bg:#EEEEEE;
    --basic-color-btn:#FB565A;
    --basic-btn-hover:#E74246;
    --basic-btn-active:#D7373B;
    --green-btn:#00CA74;
    --green-btn-hover:#00BC6C;
    --green-btn-active:#00AA62;
    --gold-btn:#EFC84A;
    --gold-btn-hover:#EAB534;
    --gold-btn-active:#E5A722;
    --color-btn:#FFFFFF;
    --basic-color-txt:#283136;
    --second-color-txt:#000000;
    --gray-txt:#666666;
    --darkgray-txt:#444444;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  }
@font-face {
    font-family: "Roboto Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  }

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    height: 100%;
}

.page-body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-color-txt);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-header {
    background-color: var(--basic-color-bg);
}

.main-nav {
    background-color: var(--basic-color-bg);
}

.nav-container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 49px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nerds-logo:active {
    opacity: 0.3;  
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;  
    display: block;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 440px;
}

.nav-list-item {
    margin: 0 23px;
}

.navigation:hover {
    color: var(--basic-color-btn);
}

.navigation:active {
    color: var(--basic-color-txt);
    opacity: 0.3;  
}

.nav-cart {
    margin-top: 11px;
}

.cart::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 100px;
    width: 16px;
    height: 18px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.cart {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;
    position: relative;
}

.cart:hover {
    color: var(--basic-color-btn);
}

.cart:active {
    color: var(--basic-color-txt);
    opacity: 0.3;
}

.sliders {
    margin: 0;
    padding: 0;
    background-color: var(--basic-color-bg);
}

.sliders-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 80px;
}

.slider-text {
    width: 45%;
    padding: 70px 0;
}

.slider-p {
    width: 368px;
    margin: 0;
    padding: 0;
}

.slider1 {
    background-image: url(../img/nerds-index-slide1.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-bottom: -17px;
}

.slider2 {
    background-image: url(../img/nerds-index-slide2.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-bottom: -17px;
}

.slider3 {
    background-image: url(../img/nerds-index-slide3.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-bottom: -17px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

.slider-controls {
    margin:auto;
    left: 0;
    right: 0;
    position: relative;
    top: -102px;

    z-index: 20;
    display: flex;
    width: 88px;
    justify-content: space-between;
  }

.slider-controls button {
    padding: 0;
    width: 17px;
    height: 17px;
    background-color: var(--color-btn);
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }

.slider-controls .current {
    border: 2px solid #C1C1C1;

  }

.services {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 76px;
}

.services-list {
    margin: 0;
    padding: 0;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
}

.services-item {
    width: 300px;
}

.services-text {
    margin-right: 40px;
    margin-bottom: 33px;
}

.about-columns {
    border-top: var(--basic-color-bg) solid 2px;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 40px;
    
    display: flex;
}

.about-article {
    width: 650px;
}

.about-item {
    margin-bottom: 23px;
    margin-left: 20px;
    position: relative;
}

.about-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-color-btn);
    top: 14px;
    left: -36px;
}

.about-info {
    margin-left: 150px;
    width: 360px;
}

.about-list {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 0;
}

.about-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 13px;
}

.partnership {
    border-top: var(--basic-color-bg) solid 2px;
    border-bottom: var(--basic-color-bg) solid 2px;
    width: 1160px;
    margin: 0 auto;
    margin-top: 54px;
    margin-bottom: 16px;
    padding-top: 51px;
    padding-bottom: 33px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.border {
    width: 1px;
    height: 52px;
    box-sizing: border-box;
    border-left: 1px solid var(--basic-color-bg);
    border-right: 1px solid var(--basic-color-bg);
}

.main-footer {
    margin-top: 65px;
    margin-bottom: 75px;
    position: relative;
}

.main-footer-wrapper {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto 2fr;
    align-items: center;
    column-gap: 40px;
}

.map {
    height: 416px;
    width: 100%;
    margin: 0;
    margin-bottom: 42px;
}

.map-bg {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
}

.map-marker {
    position:relative;
    right: -323px;
    top: -28px;
}

.footer-contacts {
    width: 319px;
    background-color: var(--color-btn);
    margin: 54px 0;
    z-index: 100;
}

.footer-social {
    grid-column-start: 1;
    grid-row-start: 2;

    margin-top: 20px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.social-button {
    background-color: var(--basic-color-bg);
    border-radius: 50%;
    width: 81px;
    height: 81px;
    margin-right: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button:hover {
    background: linear-gradient(0deg, #E74246, #E74246);
}

.social-button:active {
    background: linear-gradient(0deg, #D7373B, #D7373B);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active svg {
    opacity: 0.3;
}

.footer-text {
    grid-row-start: 2;
    grid-column-start: 2;

    margin-left: 87px;
}

.footer-contacts-text {
    margin: 48px 50px 0 50px;
}

.modal {
    position: fixed;
    bottom: 183px;
    width: 960px;
    min-height: 590px;
    padding: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: none;
    background-color: var(--color-btn);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.modal-close {
    justify-self: flex-end;
    background-color: var(--color-btn);
    padding: 0;
    border: 0;
    width: 21px;
    height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 78px;
    right: 90px;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
  }

.modal-error {
    animation: shake 0.6s;
}

.feedback-form {
    grid-column: 1 / -1;
    margin: 0 100px 84px 100px;
    padding: 0;

    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.form-name {
    display:flex;
    flex-wrap: wrap;

    width: 360px;
}

.form-mail {
    display:flex;
    flex-wrap: wrap;

    width: 360px;
}

.form-text {
    display:flex;
    flex-wrap: wrap;

    grid-column: 1 / -1;

    margin-top: 35px;
    width: 760px;
}

.form-button {
    margin-top: 47px;
}

.form-textarea {
    width: 760px;
    padding-left: 16px;
    padding-top: 16px;
    min-height: 118px;
    border: 2px solid #D7DCDE;
    box-sizing: border-box;
    border-radius: 3px;
}

.form-textarea:hover {
    border: 2px solid #B4B9BB;
}

.form-textarea:focus {
    border: 2px solid #000000;
}

.form-textarea:invalid {
    border: 2px solid #E74246;
    color: var(--basic-color-btn);
}

.form-input-name {
    width: 360px;
    min-height: 50px;
    padding: 16px 0;
    padding-left: 16px;
    border: 2px solid #D7DCDE;
    box-sizing: border-box;
    border-radius: 3px;
}

.form-input-mail {
    width: 360px;
    min-height: 50px;
    padding: 16px 0;
    padding-left: 16px;
    border: 2px solid #D7DCDE;
    box-sizing: border-box;
    border-radius: 3px;
}

.form-input:hover {
    border: 2px solid #B4B9BB;
}

.form-input:focus {
    border: 2px solid #000000;
}

.form-input:invalid {
    border: 2px solid #E74246;
    color: var(--basic-color-btn);
}

ul {
    list-style-type: none;  
    margin: 0px 138px;
    padding: 0;
    margin-right: 223px;
    margin-top: 10px;
}

.button {
    /*width: 240px;*/
    padding: 17px 40px 15px 39px;
    background: var(--basic-color-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    box-sizing: border-box;
} 

.button-modal {
    min-width: 260px;
}

.button-more {
    padding: 17px 54px 15px;
    display: inline-block;
    background: var(--basic-color-btn);
    color: var(--color-btn);  
    text-decoration: none;
    text-align: center;
    margin-top: 37px;
    vertical-align: middle;
}

.button:hover {
    background: var(--basic-btn-hover);
} 

.button:active {
    background: var(--basic-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
} 

.button-red {
    padding: 17px 40px 15px 39px;
    background: var(--basic-color-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    cursor: pointer;
} 

.button-red:hover {
    background: var(--basic-btn-hover);
} 

.button-red:active {
    background: var(--basic-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-green {
    padding: 17px 40px 15px 39px;
    background: var(--green-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    cursor: pointer;
} 

.button-green:hover {
    background: var(--green-btn-hover);
} 

.button-green:active {
    background: var(--green-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-gold {
    padding: 17px 40px 15px 39px;
    background: var(--gold-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    cursor: pointer;
} 

.button-gold:hover {
    background: var(--gold-btn-hover);
} 

.button-gold:active {
    background: var(--gold-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-contacts {
    text-decoration: none;
    display: block;
    margin: 40px 50px 50px 48px;
    padding-left: 46px;
    cursor: pointer;
}

.partner-logo {
    position: relative;
}

.partner-logo-img {
    opacity: 0.2;
}

.partner-logo-img:hover {
    opacity: 1;
}

.partner-logo-img:active {
    opacity: 0.1;
}

.partner-logo::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background-color: var(--basic-color-bg);
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.partner-logo:nth-child(4n+4)::after {
    opacity: 0;
}

.slider-title {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--second-color-txt);
    margin-top: 0;
    margin-bottom: 32px;
} 

.about-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--second-color-txt);
    margin: 35px 0;
}

.service-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--second-color-txt);
    text-transform: uppercase; 
    margin: 17px 2px;
}

.textbold {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    text-transform: uppercase;
    margin-top: 39px;
}

.about-info-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    text-transform: uppercase;
    margin: 29px 0 31px 18px;
}

.textpercent {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--second-color-txt);

    grid-row-start: 1;
}

.textsubpercent {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;

    grid-row-start: 2;
}

.textfooterbold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
}

.textfooter {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-txt);
    margin-right: 10px;
    margin-top: 19px;
}

.textfooterbig {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--second-color-txt);
    margin-bottom: 0;
}

.textfootersmall {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkgray-txt);
    margin-top: 10px;
}

.feedback-title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--second-color-txt);
    margin-left: 100px;
    margin-top: 63px;
    margin-right: 100px;
}

.feedback-name {
    margin-bottom: 10px;
    font-style: normal;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color-txt);
}


@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }