:root {
    --basic-color-bg:#EEEEEE;
    --basic-color-btn:#FB565A;
    --basic-btn-hover:#E74246;
    --basic-btn-active:#D7373B;
    --green-btn:#00CA74;
    --green-btn-hover:#00BC6C;
    --green-btn-active:#00AA62;
    --gray-btn-hover:#DFDFDF;
    --gray-btn-active:#D5D5D5;
    --gold-btn:#EFC84A;
    --gold-btn-hover:#EAB534;
    --gold-btn-active:#E5A722;
    --color-btn:#FFFFFF;
    --basic-color-txt:#283136;
    --second-color-txt:#000000;
    --gray-txt:#666666;
    --darkgray-txt:#444444;
    --panel-gray:#4D4D4D;
    --toggle-color:#ABABAB;
    --slider-control:#C1C1C1;
    --border-color:#D7DCDE;
    --border-hover:#B4B9BB;
    --border-current:#DBDBDB;
    --shadow-color:#cfcfcf;
    --price-bg-color:#f1f1f1;
    --rgba1: 128, 128, 128;
    --rgba2: 230, 230, 230;
    --rgba3: 255, 255, 255;
    --rgba4: 0, 0, 0;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  }
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-width: 1160px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-color-txt);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.ul-style {
    list-style-type: none;  
    margin: 0px 84px;
    padding: 0;
}

/* header */

.main-header {
    background-color: var(--basic-color-bg);
}

.main-nav {
    background-color: var(--basic-color-bg);
}

.nav-container {
    width: 1160px;
    margin: 0 auto;
    margin-top: 49px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nerds-logo:active {
    opacity: 0.3;  
}

.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;  
    display: block;
    position: relative;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 440px;

    list-style-type: none;  
    margin: 0px 138px;
    padding: 0;
    margin-right: 223px;
    margin-top: 10px;
}

.nav-list-item {
    margin: 19px 23px 20px;
}

.nav-list-item-current {
    position: relative;
}

.nav-list-item-current::after {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 2px;
    background-color: var(--basic-btn-active);
}

.navigation:hover {
    color: var(--basic-color-btn);
}

.navigation:active {
    color: var(--basic-color-txt);
    opacity: 0.3;  
}

.nav-cart {
    margin-top: 11px;
    position: relative;
}

.cart::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 98px;
    width: 16px;
    height: 18px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

.cart {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; 
    text-transform: uppercase; 
    color: var(--second-color-txt);
    text-decoration: none;
    position: relative;
}

.cart:hover {
    color: var(--basic-color-btn);
}

.cart:active {
    color: var(--basic-color-txt);
    opacity: 0.3;
}

/* index main */

.sliders {
    margin: 0;
    padding: 0;
    background-color: var(--basic-color-bg);
}

.sliders-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    margin: 0px auto 79px;
}

.slider-text {
    width: 45%;
    padding: 67px 0 66px 1px;
}

.slider-p {
    width: 368px;
    margin: 0;
    padding: 0;
}

.slider-wrap {
    white-space:nowrap;
}

.slider1 {
    background-image: url(../img/nerds-index-slide1.png);
    background-position: 397px -10px;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom: -17px;
}

.slider2 {
    background-image: url(../img/nerds-index-slide2.png);
    background-position: 397px -10px;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom: -17px;
}

.slider3 {
    background-image: url(../img/nerds-index-slide3.png);
    background-position: 397px -10px;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    margin-bottom: -17px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}

.slider-controls {
    margin:auto;
    left: 0;
    right: 0;
    position: relative;
    top: -97px;

    z-index: 20;
    display: flex;
    width: 88px;
    justify-content: space-between;
  }

.slider-button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--color-btn);
    border: 2px solid var(--color-btn);
    border-radius: 50%;
    cursor: pointer;
}

.current-slider {
    position: relative;
}

.current-slider::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--slider-control);
    border-radius: 50%;
    box-sizing: border-box;
}

.services {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 80px;
}

.services-list {
    margin: 0;
    padding: 0;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
}

.services-item {
    width: 300px;
}

.services-text {
    margin-right: 40px;
    margin-bottom: 31px;
}

.services-text-green {
    margin-right: 66px;
    margin-bottom: 31px;
}

.about-columns {
    border-top: var(--basic-color-bg) solid 2px;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 38px;
    
    display: flex;
}

.about-article {
    width: 650px;
}

.about-item {
    margin-bottom: 24px;
    margin-left: 20px;
    position: relative;
}

.about-item-second {
    margin-bottom: 24px;
    margin-left: 20px;
    position: relative;
}

.about-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-color-btn);
    top: 10px;
    left: -36px;
}

.about-item-second::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-color-btn);
    top: 10px;
    left: -36px;
}

.about-info {
    margin-left: 150px;
    width: 360px;
}

.about-list {
    margin-top: 26px;
    margin-left: 16px;
    margin-right: 0;
}

.about-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 13px;
}

.partnership {
    border-top: var(--basic-color-bg) solid 2px;
    border-bottom: var(--basic-color-bg) solid 2px;
    width: 1160px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 16px;
    padding-top: 56px;
    padding-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.border {
    width: 1px;
    height: 52px;
    box-sizing: border-box;
    border-left: 1px solid var(--basic-color-bg);
    border-right: 1px solid var(--basic-color-bg);
}

/* catalog main */

.container-catalog-main {
    margin-bottom: 5px;
}

.page-catalog {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    column-gap: 140px;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

.page-title {
    margin-top: 0;
    margin-bottom: 39px;
    padding: 68px 210px 108px 210px;
    background-color: var(--basic-color-bg);
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--second-color-txt);
}

.catalog-fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 52px;
    border: none;
}

.catalog-fieldset-radio {
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
    border: none;
}

.catalog-fieldset-checkbox {
    padding: 0;
    margin: 0;
    margin-bottom: 31px;
    border: none;
}

.template-section {
    margin: 0;
    padding: 0;
    margin-top: 8px;

    grid-column: 2 / -1;
}

.template-list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
}

.template-filter {
    margin-top: 15px;
    width: 260px;

    grid-row: 1 / 3;
}

.template-sortby {
    padding: 0;
    margin: 0;

    grid-column: 2 / -1;

    display: flex;
    justify-content: space-between;
}

.sortby-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
}

.sortby-item {
    margin-left: 26px;
}

.sortby-item:nth-child(4) {
    margin-left: 47px;
}

.sortby-item:nth-child(5) {
    margin-left: 17px;
}

.upbutton {
    background-image: url(../img/up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-btn);
    border: none;
    width: 11px;
    height: 11px;
    opacity: 0.3;
    cursor: pointer;
}

.upbutton:hover {
    opacity: 0.6;
}

.upbutton:active {
    opacity: 1;
    border: none;
}

.downbutton {
    background-image: url(../img/down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-btn);
    border: none;
    width: 11px;
    height: 11px;
    opacity: 0.3;
    cursor: pointer;
}

.downbutton:hover {
    opacity: 0.6;
}

.downbutton:active {
    opacity: 1;
}

.pagination {
    grid-column-start: 2;
}

.pagination-list {
    padding: 0;
    margin: 0;
    margin-top: 49px;
    margin-left: 1px;

    display:flex;
    justify-content: flex-start;
}

.pagination-item {
    margin-right: 11px;
}

/* footer */

.main-footer {
    margin-top: 65px;
    margin-bottom: 75px;
    position: relative;
}

.main-footer-catalog {
    margin-top: 57px;
    margin-bottom: 75px;
    position: relative;
}

.main-footer-wrapper {
    width: 1160px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: auto 2fr;
    align-items: center;
    column-gap: 40px;
}

.map {
    height: 416px;
    width: 100%;
    margin: 0;
    margin-bottom: 44px;
    background-image: url(../img/map1.png);
    background-repeat: no-repeat;
    background-position-x: center;
}

.footer-contacts {
    width: 319px;
    background-color: var(--color-btn);
    margin: 54px 0;
    z-index: 100;
    position: absolute;
    top: 0;
}

.footer-social {
    grid-column-start: 1;
    grid-row-start: 2;

    margin-top: 23px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.social-button {
    background-color: var(--basic-color-bg);
    border-radius: 50%;
    width: 81px;
    height: 81px;
    margin-right: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button:hover {
    background: linear-gradient(0deg, var(--basic-btn-hover), var(--basic-btn-hover));
}

.social-button:active {
    background: linear-gradient(0deg, var(--basic-btn-active), var(--basic-btn-active));
    box-shadow: inset 0px 3px 0px var(--rgba2);
}

.social-button:active svg {
    opacity: 0.3;
}

.footer-text {
    grid-row-start: 2;
    grid-column-start: 2;

    margin-left: 87px;
}

.footer-contacts-text {
    margin: 48px 50px 0 50px;
}

.footer-contacts-text-catalog {
    margin: 48px 50px -24px 50px;
}

.modal {
    position: fixed;
    bottom: 183px;
    width: 960px;
    min-height: 590px;
    padding: 0;
    margin: auto;
    left: 0;
    right: 0;
    display: none;
    background-color: var(--color-btn);
    box-shadow: 0 0 30px var(--rgba1);
    z-index: 200;
}

.modal-close {
    justify-self: flex-end;
    background-color: var(--color-btn);
    padding: 0;
    border: 0;
    width: 21px;
    height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 78px;
    right: 90px;
    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
  }

.modal-error {
    animation: shake 0.6s;
}

.feedback-form {
    grid-column: 1 / -1;
    margin: 0 100px 84px 100px;
    padding: 0;

    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.form-name {
    display:flex;
    flex-wrap: wrap;

    width: 360px;
}

.form-mail {
    display:flex;
    flex-wrap: wrap;

    width: 360px;
}

.form-text {
    display:flex;
    flex-wrap: wrap;

    grid-column: 1 / -1;

    margin-top: 35px;
    width: 760px;
}

.form-button {
    margin-top: 49px;
}

.form-textarea {
    width: 760px;
    padding-left: 16px;
    padding-top: 16px;
    min-height: 118px;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 3px;
}

.form-textarea:hover {
    border: 2px solid var(--border-hover);
}

.form-textarea:focus {
    border: 2px solid var(--second-color-txt);
}

.form-textarea:invalid {
    border: 2px solid var(--basic-btn-hover);
    color: var(--basic-color-btn);
}

.form-input-name {
    width: 360px;
    min-height: 50px;
    padding-left: 15px;
    margin-top: 3px;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 3px;
}

.form-input-mail {
    width: 360px;
    min-height: 50px;
    padding-left: 15px;
    margin-top: 3px;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 3px;
}

.form-input:hover {
    border: 2px solid var(--border-hover);
}

.form-input:focus {
    border: 2px solid var(--second-color-txt);
}

.form-input:invalid {
    border: 2px solid var(--basic-btn-hover);
    color: var(--basic-color-btn);
}

.button {
    /*width: 240px;*/
    padding: 17px 40px 15px 39px;
    background: var(--basic-color-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    box-sizing: border-box;
} 

.button-modal {
    min-width: 260px;
    cursor: pointer;
}

.button-more {
    padding: 17px 54px 15px;
    display: inline-block;
    background: var(--basic-color-btn);
    color: var(--color-btn);  
    text-decoration: none;
    text-align: center;
    margin-top: 38px;
    vertical-align: middle;
}

.button:hover {
    background: var(--basic-btn-hover);
} 

.button:active {
    background: var(--basic-btn-active);
    box-shadow: inset 0px 3px 0px rgba(var(--rgba2), 0.1);
    color: rgba(var(--rgba3), 0.3);
} 

.button-red {
    padding: 17px 40px 15px 39px;
    background: var(--basic-color-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    cursor: pointer;
} 

.button-red:hover {
    background: var(--basic-btn-hover);
} 

.button-red:active {
    background: var(--basic-btn-active);
    box-shadow: inset 0px 3px 0px rgba(var(--rgba2), 0.1);
    color: rgba(var(--rgba3), 0.3);
}

.button-green {
    padding: 17px 40px 15px 39px;
    background: var(--green-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    cursor: pointer;
} 

.button-green:hover {
    background: var(--green-btn-hover);
} 

.button-green:active {
    background: var(--green-btn-active);
    box-shadow: inset 0px 3px 0px rgba(var(--rgba2), 0.1);
    color:rgba(var(--rgba3), 0.3);
}

.button-gold {
    padding: 17px 40px 15px 39px;
    background: var(--gold-btn);
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--color-btn);
    cursor: pointer;
} 

.button-gold:hover {
    background: var(--gold-btn-hover);
} 

.button-gold:active {
    background: var(--gold-btn-active);
    box-shadow: inset 0px 3px 0px rgba(var(--rgba2), 0.1);
    color:rgba(var(--rgba3), 0.3);
}

.buttonform {
    padding: 17px 89px 15px 89px;
    background: var(--basic-color-bg);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--second-color-txt);
    border: none;
    cursor: pointer;
}

.buttonform:hover {
    background: var(--gray-btn-hover);
}

.buttonform:active {
    background: var(--gray-btn-active);
    box-shadow: inset 0px 3px 0px rgba(var(--rgba2), 0.1);
    color: rgba(var(--rgba4), 0.3);
}

.button-template {
    padding: 17px 74px 15px 74px;
    margin-left: 1px;
    cursor: pointer;
}

.page-button {
    display: inline-block;
    padding: 17px 20px 15px;
    background: var(--basic-color-bg);
    color: var(--second-color-txt);  
    min-width: 50px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.page-button:hover {
    background: var(--gray-btn-hover);
}

.page-button:active {
    background: var(--gray-btn-active);
    box-shadow: inset 0px 3px 0px rgba(var(--rgba2), 0.1);
    color: rgba(var(--rgba4), 0.3);
}

.current,
.current:hover,
.current:active {
    box-sizing: border-box;
    background: rgba(var(--rgba4), 0.0001);
    border: 3px solid var(--border-current);
    height: 50px;
    padding: 14px 2px 0 0;
}

.forward {
    min-width: 260px;
}

.template-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding-left: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color-txt);
    cursor: pointer;
}

.template-name:hover {
    color: var(--basic-color-btn);
}

.template-name:active {
    color: var(--second-color-txt);
    opacity: 0.3;
}

.full-template {
    margin-top: 25px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.panel {
    background-color: var(--panel-gray);
    opacity: 0.12;
    width: 100%;
    height: 40px;
    color: var(--color-btn);
    font-size: 66px;
    padding-left: 13px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.subdiv {
    display: none;
    background-color: var(--basic-color-bg);
    width: 100%;
    text-align: center;
    padding: 25px 53px 48px 52px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.full-template:hover .subdiv {
    display: block;
}

.full-template:hover {
    box-shadow: 0 0 20px var(--border-hover);
}

.template-item:hover .panel {
    opacity: 1;
}

.filter-item-checkbox {
    position: relative;
    margin-bottom: 16px;
}

.checkbox-list {
    margin-left: 37px;
    margin-top: 14px;
    margin-right: 0;
}

.item-checkbox + label::before {
    content: "";
    display: block;
    position: absolute;
    left: -37px;
    width: 23px;
    height: 23px;
    border: 3px solid var(--panel-gray);
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 0.4;
}

.item-checkbox:focus + label::before {
    outline: 3px solid var(--second-color-txt);
}

.item-checkbox:hover + label::before {
    opacity: 1;
}

.item-checkbox:disabled + label::before {
    opacity: 0.3;
}

.item-checkbox:disabled + label::after {
    opacity: 0.3;
}

.item-checkbox:disabled + label {
    opacity: 0.3;
}

.item-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 2px;
    width: 21px;
    height: 17px;
    background-image: url(../img/shape.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.4;
}

.item-checkbox:hover + label::after {
    opacity: 1;
}

.radio-list {
    margin-left: 36px;
    margin-top: 14px;
}

.filter-item-radio {
    position: relative;
    margin-bottom: 16px;
}

.item-radio + label::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -36px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--panel-gray);
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0.4;
}

.item-radio:focus + label::before {
    outline: 3px solid var(--second-color-txt);
}

.item-radio:hover + label::before {
    opacity: 1;
}

.item-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -28px;
    top: 7px;
    width: 9px;
    height: 9px;
    background-color: var(--panel-gray);
    border-radius: 50%;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.4;
}

.item-radio:hover + label::after {
    opacity: 1;
}

.item-radio:disabled + label::before {
    opacity: 0.3;
}

.item-radio:disabled + label::after {
    opacity: 0.3;
}

.item-radio:disabled + label {
    opacity: 0.3;
}

.sortby {
    text-decoration: none; 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--second-color-txt);
    opacity: 0.3;
}

.sortby:hover {
    opacity: 0.6;
}

.sortby:active {
    opacity: 1;
}

.active {
    opacity: 1;
}

.button-contacts {
    margin: 43px 50px 47px 50px;
    padding: 16px 45px 16px 44px;
    cursor: pointer;
}

.button-contacts-catalog {
    margin: 19px 50px 47px 50px;
    padding: 16px 45px 16px 44px;
    cursor: pointer;
}

.partner-logo1 {
    position: relative;
    left: 31px;
    top: -4px;
}

.partner-logo2 {
    position: relative;
    left: 13px;
    top: -10px;
}

.partner-logo3 {
    position: relative;
    right: -2px;
    top: -10px;
}

.partner-logo4 {
    position: relative;
    right: -8px;
    top: -7px;
}

.partner-logo-img {
    position: relative;
    opacity: 0.2;
}

.partner-logo-img:hover {
    opacity: 1;
}

.partner-logo-img:active {
    opacity: 0.1;
}

.partner-logo1::after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 2px;
    height: 52px;
    background-color: var(--basic-color-bg);
    right: -50px;
    top: 34%;
    transform: translateY(-50%);
}

.partner-logo2::after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 2px;
    height: 52px;
    background-color: var(--basic-color-bg);
    right: -46px;
    top: 45%;
    transform: translateY(-50%);
}

.partner-logo3::after {
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 2px;
    height: 52px;
    background-color: var(--basic-color-bg);
    right: -57px;
    top: 43%;
    transform: translateY(-50%);
}

.logo {
    margin-right: 50px;
}

.slider-title {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--second-color-txt);
    margin-top: 0;
    margin-bottom: 27px;
} 

.about-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--second-color-txt);
    margin: 35px 0;
    margin-bottom: 33px;
}

.service-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--second-color-txt);
    text-transform: uppercase; 
    margin-top: 18px;
    margin-bottom: 17px;
}

.textmidpopup {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 33px;
    margin-top: 13px;
    color: var(--gray-txt);
}

.textmidpopup-sedona {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 33px;
    margin-top: 13px;
    padding: 0 23px;
    color: var(--gray-txt);
}

.textmidpopup-barbershop {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 33px;
    margin-top: 13px;
    padding: 0 30px;
    color: var(--gray-txt);
}

.textmidpopup-mishka {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 33px;
    margin-top: 13px;
    padding: 0 30px;
    padding-left: 28px;
    color: var(--gray-txt);
}

.textform {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.textform:disabled {
    opacity: 0.3;
}

.textformuppercase {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.textmidbold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
} 

.textbold {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    text-transform: uppercase;
    margin-top: 41px;
    margin-bottom: -3px;
}

.about-info-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    text-transform: uppercase;
    margin: 30px 0 30px 16px;
}

.textpercent {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--second-color-txt);

    grid-row-start: 1;
}

.textsubpercent {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;

    grid-row-start: 2;
}

.percent {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    top: -0.6em;
}

.textfooterbold {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--second-color-txt);
}

.textfooter {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-txt);
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: -2px;
}

.textfooter-catalog {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--gray-txt);
    margin-right: 10px;
    margin-top: 22px;
    margin-bottom: -2px;
}

.tel {
    text-decoration: none;
    color: var(--basic-color-txt);
}

.textfooterbig {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--second-color-txt);
    margin-bottom: 0;
}

.textfooterbig-catalog {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--second-color-txt);
    margin-bottom: 0;
    margin-top: 28px;
}

.textfootersmall {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkgray-txt);
    margin-top: 10px;
}

.feedback-title {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--second-color-txt);
    margin-left: 100px;
    margin-top: 63px;
    margin-right: 100px;
}

.feedback-name {
    margin-bottom: 6px;
    font-style: normal;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color-txt);
}

.feedback-name-text {
    margin-bottom: 7px;
    margin-left: 2px;
    font-style: normal;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--second-color-txt);
}

.range-filter {
    width: 260px;
    margin-top: 48px;
  }

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 12px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--basic-color-bg);
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: var(--border-color);
  }

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--green-btn);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--color-btn);
    background-color: var(--toggle-color);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--shadow-color);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls label {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
}

.input-number {
    width: 59px;
    padding: 9px 10px;
    margin-left: 9px;
    margin-top: 2px;
    text-align: center;
    color: var(--basic-color-txt);
    border: none;
    border-radius: 5px;
    background: var(--price-bg-color);
    font-family: inherit;
    font-size: inherit;
    -moz-appearance: textfield;
}

.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number {
    line-height: 22px;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }